{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h1>All Clubs and Cells</h1><br>
<h6>You can add club or cell. <a href="{% url 'club_and_cell:create_club_cell' %}">Click here</a></h6><br>
<table class="table table">
    <thread class="border-bottom font-weight-bold">
        <tr>
            <td class="col-md-2" style="text-align: left">No.</td>
            <td class="col-md-6" style="text-align: left">Name</td>
          <td class="col-md-1" style="text-align: left">Edit</td>
          <td class="col-md-1" style="text-align: left">Delete</td>
        </tr>
    </thread>
    <tbody>
        {% for club_and_cell in clubs_and_cells %}
            <tr>
                <td class="col-md-2" style="text-align: left">{{forloop.counter}}</td>
                <td class="col-md-6" style="text-align: left">{{club_and_cell.name}}</td>
                <td class="col-md-1" style="text-align: left"><button type="submit" class="btn btn-primary">Edit</button></td>
                <td class="col-md-1" style="text-align: left"><button type="submit" class="btn btn-primary">Delete</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
