{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h1>Add Department</h1>
<form class="form-horizontal" method="post" action="{% url 'users:add-department' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
<br>
<h1>All Departments</h1>
<table class="table table">
    <thread class="border-bottom font-weight-bold">
        <tr>
            <td class="col-md-2" style="text-align: left">No.</td>
            <td class="col-md-6" style="text-align: left">Name</td>
          <td class="col-md-1" style="text-align: left">Edit</td>
          <td class="col-md-1" style="text-align: left">Delete</td>
        </tr>
    </thread>
    <tbody>
        {% for department in departments %}
            <tr>
                <td class="col-md-2" style="text-align: left">{{department.id}}</td>
                <td class="col-md-6" style="text-align: left">{{department.name}}</td>
                <td class="col-md-1" style="text-align: left"><button type="submit" class="btn btn-primary">Edit</button></td>
                <td class="col-md-1" style="text-align: left"><button type="submit" class="btn btn-primary">Delete</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
