{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h1>Add Department</h1>
<form class="form-horizontal" method="post" action="{% url 'users:add-department' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
<br>
<h1>All Departments</h1>
<table class="table table">
    <thread class="border-bottom font-weight-bold">
        <tr>
            <td class="col-md-2" style="text-align: center">No.</td>
            <td class="col-md-10" style="text-align: center">Name</td>
        </tr>
    </thread>
    <tbody>
        {% for form in formset %}
            <tr>
                <td class="col-md-4" style="text-align: center">{{form.Column1}}</td>
                <td class="col-md-8" style="text-align: center">{{form.Column2}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
