{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h1>Add Places</h1>
<form class="form-horizontal" method="post" action="{% url 'events:create_place' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
<br>
<h1>All Places</h1>
<table class="table table">
    <thread class="border-bottom font-weight-bold">
        <tr>
            <td class="col-md-1" style="text-align: left">No.</td>
            <td class="col-md-3" style="text-align: left">Name</td>
            <td class="col-md-6" style="text-align: left">Address</td>
          <td class="col-md-1" style="text-align: left">Edit</td>
          <td class="col-md-1" style="text-align: left">Delete</td>
        </tr>
    </thread>
    <tbody>
        {% for place in places %}
            <tr>
                <td class="col-md-1" style="text-align: left">{{forloop.counter}}</td>
                <td class="col-md-3" style="text-align: left">{{place.name}}</td>
                <td class="col-md-6" style="text-align: left">{{place.address}}</td>
                <td class="col-md-1" style="text-align: left"><button type="submit" class="btn btn-primary">Edit</button></td>
                <td class="col-md-1" style="text-align: left"><button type="submit" class="btn btn-danger">Delete</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
